@import "bootstrap/card";
@import "bootstrap/list-group";

@import "components/contact";
@import "components/footer";
@import "components/header";
@import "components/jumbotron";
@import "components/pricing";
@import "components/flaticon";
@import "components/multi-screen-carousel";

// fonts / text
.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

p {
    font-size: $font-size-sm;
    line-height: 1.6;
}

.site-heading {
    margin-bottom: $s_xl;

    h2 {
        display: inline-block;
        font-weight: 700;
        padding-bottom: 20px;
        position: relative;
    }
}


// buttons
.btn {
    padding: 10px 40px;
    font-weight: 600;
    &.circle {
        border-radius: 3rem;
    }

    &-primary {
        color: $white;
        font-size: $font-size-sm;
        text-transform: uppercase;
    }

    &-sm {
        padding: 10px 40px;
        font-size: $font-size-base * 0.8;
    }
}

.container-fluid {
    max-width: 1440px;
}

.homepage__block {
    background-color: #ccc;
    min-height: 400px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}

// about us section
.default-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-area {
    h2 {
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 20px;
    }

    h4 {
        color: $primary;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: $s_xs;
    }

    .col-lg-6 {
        margin-bottom: $s_sm;
    }

    .item {
        i {
            color: $primary;
            display: inline-block;
            font-size: 4rem;
            margin-bottom: $s_sm;
            position: relative;
            z-index: 1;
            line-height: 1;
        }
    }
}

.about-area .bottom-info {
  border-top: 1px solid #e7e7e7;
  margin-top: 35px;
  padding-top: 30px;
}

.about-area .bottom-info span {
  display: table;
  padding-top: 2px;
}

.about-area .default.info h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.about-area .default.info > a {
  margin-top: 10px;
}

.about-area .bottom-info li {
  color: #666666;
  display: block;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.about-area .bottom-info li i {
  background: $primary none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: 1;
}

.about-area .bottom-info li:last-child {
  margin: 0;
}

.about-area .bottom-info li i::after {
  background: $primary none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 28px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: -1;
}

.about-area .services-info .item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-top: 30px;
  padding: 30px;
}

.about-area .services-info {
  margin-top: -30px;
}


.about-area .services-info .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.about-area .services-info .item p {
  margin: 0;
}

.about-area .services-info .equal-height:nth-child(1) .item,
.about-area .services-info .equal-height:nth-child(4) .item {
  background: $primary none repeat scroll 0 0;
}

.about-area .services-info .equal-height:nth-child(1) .item i,
.about-area .services-info .equal-height:nth-child(4) .item i,
.about-area .services-info .equal-height:nth-child(1) .item h4,
.about-area .services-info .equal-height:nth-child(4) .item h4,
.about-area .services-info .equal-height:nth-child(1) .item p,
.about-area .services-info .equal-height:nth-child(4) .item p {
  color: #fff;
}

// companies
.companies-area {
    background-color: lighten($primary, 30%);
}

.companies-area .row {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.companies-area .clients-items img {
  width: auto;
  margin: auto;
  padding: 5px;
}

.companies-area .clients-items .owl-nav {
  margin: 0;
}

.companies-area .clients-items .owl-nav .owl-prev,
.companies-area .clients-items .owl-nav .owl-next {
  background: transparent none repeat scroll 0 0;
  color: $primary;
  font-size: 30px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-top: -18px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 35px;
}

.companies-area .clients-items .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.companies-area .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.companies-area .info p {
  margin: 0;
}
