$base-color: #59524c;
$highlight-color: #c7a589;
$notification-color: #9ea476;
<<<<<<< HEAD
$low-contrast-theme: "true";
=======
>>>>>>> 046da9b56784140cae8bc7eed79f683177ce7664

$form-checked: $base-color;

@import "../_admin.scss";
