// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

// Spacers
$spacer: 1rem; // 16px;

$s-sm: $spacer; // 16px
$s-xs: $s-sm / 2; // 8px
$s-xxs: $s-xs / 2; // 4px
$s-md: $s-sm * 2; // 32px
$s-lg: $s-md * 2; // 64px
$s-xl: $s-lg + $s-md; // 96px

$section-space-md: $s-md;
$section-space-lg: $s-lg;
$section-space-xl: $s-xl;

// Colours
$primary:  #126ab4 !default; // dark blue from logo
$secondary: #4a9bd3 !default; // light blue from logo
$c-primary-grenston: #118518 !default;

$black: #000 !default;
$white: #fff !default;
$gray-100: #fcfcfc !default; // lightest gray - use for body background
$gray-200: #f2f2f2 !default; // lighter gray - from branding
$gray-300: #cac9c9 !default; // light gray from logo
$gray-600: #444647 !default; // dark gray
$gray-900: #212223 !default; // logo dark gray

// Buttons
$c-btn-pulse: rgba($secondary, 0) !default;


// Fixed background
$path-to-fixed-bg-newsletter: 'uploads/2019/09/bigplane-test-image.jpg' !default;
$c-fixed-bg-overlay: $black !default;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap'); // sass-lint:disable-line no-url-domains no-url-protocols

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$headings-font-family: 'Poppins', sans-serif !default;
$headings-font-weight: 600 !default;
$headings-text-transform: 'none' !default;

// Footer widgets
$c-wrapper-footer-widgets: $white !default;
$c-wrapper-footer-widgets-bg: $primary !default;
$c-wrapper-footer-widgets-link: $white !default;

// Footer copyright info
$c-wrapper-footer: $white !default;
$c-wrapper-footer-bg: $black !default;

$c-footer-menu-link: $white !default;

// Site (comes befor Jombotron becasue of use of variables)
$s-site-margin-top-sm: $s-xl;
$s-site-margin-top-md: $s-lg + $s-xs;
$s-site-margin-top-lg: $s-xl + $s-xs;

// Jumbotron
$c-jumbotron-h1: $secondary !default;
$c-jumbotron-h2: $primary !default;
$c-jumbotron-h2-bg: transparent !default;
$c-jumbotron-base-bg: $white !default;
$s-jumbotron-height: 100vh !default; // TODO: put this and the Site (see above) into JMWhite properly

$s-jumbotron-height-xs: 100vh;
$s-jumbotron-height-sm: calc(#{$s-jumbotron-height} - #{$s-site-margin-top-sm});
$s-jumbotron-height-md: calc(#{$s-jumbotron-height} - #{$s-site-margin-top-md});
$s-jumbotron-height-lg: calc(#{$s-jumbotron-height} - #{$s-site-margin-top-lg});
$s-jumbotron-height-xl: 90vh;
$jumbotron-bg: lighten($secondary, 35%) !default;

// Navbar
$navbar-light-color:                $secondary !default;
$navbar-light-color-shrink:         $secondary !default;
$navbar-light-hover-color:          rgba($secondary, .7) !default;
$navbar-light-active-color:         rgba($secondary, .7) !default;
$navbar-light-disabled-color:       rgba($secondary, .3) !default;
$navbar-light-toggler-border-color: $white;
$navbar-light-toggler-border-color-shrink: $primary;
$c-navbar-bg: $white;
