$c_icon_fill: $body-color !default;
$c_icon_stroke: $secondary !default;
$c_icon_button_color_1: $white !default;
$c_icon_button_color_2: $primary !default;
$c_icon_solid_fill: $secondary !default;
$c_icon_outline_fill: $gray-200 !default;

/// All icons to have the following class applied to the svg tag.
/// Exception is .loader

@mixin maintainValue($property, $value) {
    #{$property}: $value / 0.875;

    // @include breakpoint('sm') {
    //     #{$property}: $value;
    // }
    // @include breakpoint('xl') {
    //     #{$property}: $value / 1.125;
    // }
}

.icon {
    @include maintainValue(width, $s-md);
    @include maintainValue(height, $s-md);
    overflow: visible;
    vertical-align: baseline;
    fill: $c_icon_fill;
    stroke: $c_icon_stroke;
    stroke-width: 0.5;

    &-xs {
        @include maintainValue(width, $s-xs);
        @include maintainValue(height, $s-xs);
    }

    &-sm {
        @include maintainValue(width, $s-sm);
        @include maintainValue(height, $s-sm);
    }

    &-lg {
        @include maintainValue(width, $s-lg);
        @include maintainValue(height, $s-lg);
    }

    &-xl {
        @include maintainValue(width, $s-xl);
        @include maintainValue(height, $s-xl);
    }

    .button &,
    .button--secondary.button--on-dark & {
        fill: $c_icon_button_color_1;
        stroke: $c_icon_button_color_1;
    }
    .button--secondary &,
    .button--on-dark &,
    .button--secondary.button--on-light & {
        fill: $c_icon_button_color_2;
        stroke: $c_icon_button_color_2;
    }
}




///
//  Flaticon icon font: Flaticon
//  Creation date: 08/09/2018 00:19
///
@font-face {
	font-family: 'Flaticon';
	font-style: normal;
	font-weight: normal;
    src: url('../fonts/Flaticon.eot'),
		url('../fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
		url('webfont.woff2') format('woff2'),
         url('../fonts/Flaticon.woff') format('woff'),
         url('../fonts/Flaticon.ttf') format('truetype'),
         url('../fonts/Flaticon.svg#Flaticon') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
    	font-family: 'Flaticon';
		src: url('../fonts/Flaticon.svg#Flaticon') format('svg');
    }
}

[class^='flaticon-'],
[class*=' flaticon-'],
[class^='flaticon-'],
[class*=' flaticon-'] {
	&:before,
	&:after {
		font-family: Flaticon;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		text-transform: none;
		speak: none;

		// Better Font Rendering
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.flaticon-move {
	&:before {
		content: '\f100';
	}
}
.flaticon-scroll:before { content: '\f101'; }
.flaticon-customer-support:before { content: '\f102'; }
.flaticon-feature:before { content: '\f103'; }
.flaticon-intersect:before { content: '\f104'; }
.flaticon-union:before { content: '\f105'; }
.flaticon-intersection:before { content: '\f106'; }
.flaticon-rgb:before { content: '\f107'; }
.flaticon-rgb-1:before { content: '\f108'; }
.flaticon-resolution:before { content: '\f109'; }
.flaticon-showcase:before { content: '\f10a'; }
.flaticon-tickets:before { content: '\f10b'; }
.flaticon-ticket:before { content: '\f10c'; }
.flaticon-conversation:before { content: '\f10d'; }
.flaticon-speech-bubble:before { content: '\f10e'; }
.flaticon-email:before { content: '\f10f'; }
.flaticon-contact:before { content: '\f110'; }
.flaticon-file:before { content: '\f111'; }
.flaticon-upload-information:before { content: '\f112'; }
