footer {
    .f-items {
        display: flex;
    }

    .f-item {
        p {
            color: #999999;
        }

        h3,
        h4 {
            font-weight: 600;
            margin-bottom: 25px;
            position: relative;
            text-transform: capitalize;
            z-index: 1;
        }
    }
}


footer .f-item .address .icon,
footer .f-item .address .info {
  display: table-cell;
  vertical-align: middle;
}

footer .f-item > a {
  margin-top: 10px;
}

footer .f-item .address .info {
  padding-left: 15px;
}

.footer-bottom .col-md-6:first-child {
  padding-left: 0;
}

.footer-bottom .col-md-6:last-child {
  padding-right: 0;
}

footer .f-item .address .info h5 {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #232323;
}

footer .f-item .address li i {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #4ac4f3;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}

footer .f-item .address li span {
  color: #999999;
}

footer .f-item .address li {
  display: block;
  margin-top: 15px;
}

footer .f-item .address li:first-child {
  margin-top: 0;
}

footer .f-item > img {
  margin-bottom: 25px;
}

footer .f-item.link li {
  display: block;
}

footer .f-item.link li a {
  color: #999999;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

footer .f-item.link li a:hover {
  color: #4ac4f3;
}

footer .footer-bottom {
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
  padding-top: 30px;
}

footer .footer-bottom p {
  color: #232323;
  margin: 0;
  text-transform: capitalize;
  line-height: 40px;
}

footer .f-item.link li:last-child a {
  margin: 0;
  padding: 0;
}

footer .footer-bottom p a {
  color: #4ac4f3;
  text-transform: capitalize;
}

footer.color-yellow .footer-bottom p a {
  color: #ff9800;
}

.footer-bottom h4 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.footer-bottom .link li {
  display: inline-block;
}

.footer-bottom .link li a {
  color: #999999;
  display: inline-block;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.footer-bottom .link li a::before {
  background: #999999 none repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 1px;
}

.footer-bottom .link li:first-child a {
  margin: 0;
  padding: 0;
}

.footer-bottom .link li:first-child::before {
  display: none;
}

.footer-bottom .link li:first-child a::before {
  display: none;
}

.footer-bottom .link li a:hover {
  color: #4ac4f3;
}
