.home__jumbotron {
    background-color: lighten($secondary, 35%);
    height: 100%;
    margin-top: 4rem;
    padding: 5rem;

    h1,
    h2,
    p {
        text-align: center;
        font-weight: 600;
    }

    h1 {
        margin-bottom: $s_lg;
        color: $primary;
        font-size: 4.75rem;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: $s_md;
        color: $secondary;
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    p {
        width:74%;
        color: $grey;
    }
}

.banner-area,
.banner-area div {

}

.home__jumbotron  {
    .wp-block-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wp-block-image {
        max-width: 60%;
    }

}
